{% extends "base.html"%}
{% block css %}

    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/owl.carousel.css" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/owl.theme.css" rel="stylesheet">
{% endblock%}

{% block content %}
        <section>
            <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->

            <div class="home-carousel">
                <div>
                    <div class="homepage owl-carousel" style="padding:0px">


			<div class="item">
                            <div class="row">
                                 <!-- <div class="col-sm-6">
                                     <div class=" centered-car" >
                                         <h1 class="gr">relationship
                                                     <br>quality &
                                                     <br>commitment</h1>
                                         <p class="gr">are the core values of
                                             <br />grafiqe signs</p>
                                     </div>
                                    </div> -->
                                <div class="col-md-12">
                                    <!-- <img class="img-responsive" width="100%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/Welcome page.jpg" alt=""> -->
                                    <img class="img-responsive" width="100%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/0s.jpg" alt="">

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-12 " >
                                    <img class="img-responsive" width="100%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/2s.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-responsive" width="100%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/3s.jpg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-responsive" width="100%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/44s.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-responsive" width="100%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/5s.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="img-responsive" width="100%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/6s.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="img-responsive" width="100%" height="70%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/4s.jpg" alt="">
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="img-responsive" width="100%" height="70%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/5.jpg" alt="">
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="item">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="img-responsive" width="100%" height="70%"src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/slides/6.jpg" alt="">
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <h1>Design</h1>
                                    <ul class="list-style-none">
                                        <li>Clean and elegant design</li>
                                        <li>Full width and boxed mode</li>
                                        <li>Easily readable Roboto font and awesome icons</li>
                                        <li>7 preprepared colour variations</li>
                                    </ul>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/template-easy-customize.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/template-easy-code.png" alt="">
                                </div>
                                <div class="col-sm-5">
                                    <h1>Easy to customize</h1>
                                    <ul class="list-style-none">
                                        <li>7 preprepared colour variations.</li>
                                        <li>Easily to change fonts</li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- /.project owl-slider -->
                </div>
            </div>

            <!-- *** HOMEPAGE CAROUSEL END *** -->
        </section>

        <section class="bar background-white">
            <div class="container">
                <div class="col-md-12">
                    <div class="heading text-center">

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <h3>Consulting</h3>
                                <p>During site visit or client meet in office can grab the requirement of client need, the Vendor and the client undertake a set of activities required for achieving the desired purposes and changes.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-lightbulb-o"></i>
                                </div>
                                <h3>Designing</h3>
                                <p>As we are into Signage field, we help our clients develop the solution design – the concept, business case and content model for a project. We help them understand their objectives and how signage displays can help realize them. We help with resource allocation and budgeting, and we ensure the right technology is designated for the right places – so that the screens make a clear, measureable difference.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-print"></i>
                                </div>
                                <h3>Printing</h3>
                                <p>The state of the art in- house facilities at Colors Digital include designing, scanning, printing, lamination, mounting and installation. We work upon vast variety of medias like vinyls, posters, flex, translites, mesh, cloth, fine art canvas and many innovative medias to cater our customer’s specific requirements. Our printing house includes high end H.P inkjet printers for high resolution printing quality for in shop branding along with eco solvent printers for cost effective printing.</p>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-wrench"></i>
                                </div>
                                <h3>Fabrication</h3>
                                <p>Fabrication is the building of structures by cutting, bending, and assembling processes .is the act of taking raw stock material and turning it into a part for use in an assembly process. There are many different types of fabrication processes with different materials like M.S, S.S, Brass, Acrylic, Aluminum etc.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-cog"></i>
                                </div>
                                <h3>Installations</h3>
                                <p>We handle most Installations directly, project-managing all aspects of the planning and execution plan for jobs. We have in-house project management and installation capabilities, and access to skilled, We respect the practical limits presented by venues, and understand the sensitivities of facilities like banks and busy retail sales floors.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <h3>After Sales Services</h3>
                                <p>GRAFIQE SIGNS knows that signs of companies are really an asset for the company and no company can bear the loss of signs. Sign is an introduction to your company which is telling your customers about your brand.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<!--
        <section class="bar background-pentagon no-mb" id="team">
                    <div class="container">

                        <div class="col-md-12">
                            <div class="heading text-center">
                                <h2>Team</h2>
                            </div>

                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-md-offset-3" style="background-color:white;">
                                    <div class="box-image-text blog team-col">
                                        <div class="top">
                                            <div class="image">
                                                <span class="fa fa-user" style="font-size:150px"></span>
                                            </div>

                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-post.html">Mohd Mohseen</a></h4>
                                            <p class="intro text-justify">He holds a Business Management degree and diploma in interior design from Hamstech (JNAFAU)
        										 and extensive experience in the field of signage, advertising and marketing.His personality reflects his dedication and passion.</p>

                                        </div>
                                        <div class="row ">
                                            <div class="container-fluid">
                                            <div class="col-md-4 pull-left"><span class="fa fa-quote-left" ></span> </div>
                                            <div>Managing Director</div>

                                        </div>
                                        </div>
                                    </div>


                                </div>

                                <div class="col-md-3 col-sm-6 team-col">
                                    <div class="box-image-text blog ">
                                        <div class="top">
                                            <div class="image">
                                                <span class="fa fa-user" style="font-size:150px"></span>
                                            </div>

                                        </div>
                                        <div class="content">
                                            <h4><a href="blog-post.html">D Harish</a></h4>
                                            <p class="intro text-justify">He is brilliant with his design sense  and an extensive experience
        										in the field of signage, advertising and marketing.
        										 His experience with advertising agencies and design firms has given
        										 him just the right amount of exposure to do any task efficiently.</p>

                                        </div>
                                        <div class="container-fluid">

                                        <div class="row">
                                            <div class="col-md-4 pull-left"><span class="fa fa-quote-left"></span> </div>
                                            <div>Managing Director</div>
                                        </div>
                                    </div>
                                    </div>

                                </div>




                            </div>

                        </div>

                    </div>
                </section> -->


                <section class="bar background-image-fixed-2 no-mb color-white text-center">
                    <div class="dark-mask"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- <div class="icon icon-lg"><i class="fa fa-briefcase"></i> -->
                                <!-- </div> -->
                                <h3 class="text-uppercase">CREATE YOUR BUSINESS SIGN WITH OUR IDEAS!</h3>
                                <p class="lead">GET READY TO STAND OUT.</p>
                                <p class="text-center">
                                    <a href="/pages/faq.html" class="btn btn-template-transparent-black btn-lg">Read More</a>
                                </p>
                            </div>

                        </div>
                    </div>
                </section>
                <section class="bar background-white no-mb">
                    <div class="container">
                        <div class="row showcase">
                            <div class="col-md-3 col-sm-6">
                                <div class="item">
                                    <div class="icon"><i class="fa fa-align-justify"></i>
                                    </div>
                                    <h4><span class="counter">11</span><br>

                Websites</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="item">
                                    <div class="icon"><i class="fa fa-users"></i>
                                    </div>
                                    <h4><span class="counter">93</span><br>

                Satisfied Clients</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="item">
                                    <div class="icon"><i class="fa fa-copy"></i>
                                    </div>
                                    <h4><span class="counter">93</span><br>

                Projects</h4>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="item">
                                    <div class="icon"><i class="fa fa-font"></i>
                                    </div>
                                    <h4><span class="counter">23</span><br>

                Magazines and Brochures</h4>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container -->
                </section>

        <!-- <section class="bar background-pentagon no-mb"  id="team">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Team</h2>
                        </div>

                        <p class="lead">We have worked with many clients and we always like to hear they come out from the cooperation happy and satisfied. Have a look what our clients said about us.</p>


        <div class="row" >
            <div class="col-md-4 col-md-offset-3">ldsjldkjfsdflskdj
                sdfksdjf

            </div>
            <div class="col-md-4 ">fslkdjf
                fhskdjhf
                sdfksdjf
            </div>
        </div>
                        <ul class="owl-carousel testimonials same-height-row ">

                            <li class="item">
                                <div class="testimonial same-height-always">
                                    <div class="text">
                                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown
                                            belly, slightly domed and divided by arches into stiff sections.</p>
                                    </div>
                                    <div class="bottom">
                                        <div class="icon"><i class="fa fa-quote-left"></i>
                                        </div>
                                        <div class="name-picture">
                                            <img class="" alt="" src="img/person-1.jpg">
                                            <h5>John McIntyre</h5>
                                            <p>CEO, TransTech</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="testimonial same-height-always">
                                    <div class="text">
                                        <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to
                                            me? " he thought. It wasn't a dream.</p>
                                    </div>
                                    <div class="bottom">
                                        <div class="icon"><i class="fa fa-quote-left"></i>
                                        </div>
                                        <div class="name-picture">
                                            <img class="" alt="" src="img/person-2.jpg">
                                            <h5>John McIntyre</h5>
                                            <p>CEO, TransTech</p>
                                        </div>
                                    </div>
                                </div>
                            </li>


                        </ul>

                    </div>

                </div>
            </div>
        </section> -->


<!--

        <section class="bar background-gray no-mb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading text-center">
                            <h2>Our clients</h2>
                        </div>

                        <ul class="owl-carousel customers">
                             <li class="item">
                                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/customer-1.png" alt="" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/customer-2.png" alt="" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/customer-3.png" alt="" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/customer-4.png" alt="" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/customer-5.png" alt="" class="img-responsive">
                            </li>
                            <li class="item">
                                <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/customer-6.png" alt="" class="img-responsive">
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </section> -->
        {% block js %}


<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/owl.carousel.min.js"></script>
        {% endblock %}
{% endblock %}
